<div class="page-layout blank p-24" fusePerfectScrollbar>
    <!-- 
    <button type="button" class="mat-raised-button"> <mat-icon _ngcontent-ubm-c176="" class="secondary-text s-200 mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">access_alarm</mat-icon></button>
 
     -->


     <button type="button" class="mat-raised-button"style="margin-left: 10%;" >
        <div style="display:flex;flex-direction:row;align-items:center;margin:8px;">
            <mat-icon class="secondary-text s-48 mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">search</mat-icon>
            <span style="margin-left:16px;margin-right:16px;font-size:1.4em;line-height:24px;"> <input placeholder="Buscar" ></span>
        </div>
    </button>

    <button type="button" class="mat-raised-button" style="margin-left: 10%;margin-top: 2%;">
        <div style="display:flex;flex-direction:row;align-items:center;margin:8px;" > 
            <mat-icon class="secondary-text s-48 mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">add_circle</mat-icon>
            <span style="margin-left:16px;margin-right:16px;font-size:1.4em;line-height:24px;">Agregar Hecho</span>
        </div>
    </button>

       
    </div>
